/* Estilos Generales */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

/* Estilos para Dropdown */
.dropdown {
  width: 100%;
  margin: 10px auto;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.dropdown button {
  width: 100%;
  padding: 10px;
  background-color: #f4f4f4;
  border: none;
  text-align: left;
  font-size: 18px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s ease;
}

.dropdown button:hover {
  background-color: #e9e9e9;
}

.dropdown button:focus {
  outline: none;
}

.dropdown-content {
  display: none; /* Inicialmente oculto */
  padding: 10px;
  border-top: none;
}

.dropdown-content p, .dropdown-content pre {
  margin: 10px 0;
}

.dropdown-content code {
  background: #eee;
  padding: 2px 5px;
  border-radius: 3px;
}
/* ... otros estilos ... */

/* Estilo para el contenido dentro de <pre> */
pre {
  background-color: #333;
  color: #fff;
  padding: 2.5px;
  border-radius: 5px;
  overflow: auto;
}

/* Estilo para el contenido dentro de <code> */
code {
  display: block; /* O hace que cada <code> sea un bloque */
  white-space: pre; /* Asegura que los espacios y saltos de línea se mantengan */
  background-color: #f4f4f4; /* Cambia el color de fondo */
  color: #333; /* Cambia el color del texto */
  padding: 2px 5px;
  border-radius: 3px;
}

/* ... otros estilos ... */
