{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/foro.css' %}">
  <title>Publicaciones</title>
</head>
<body>
  <nav class="navbar">
    <div class="logo"><a href="{%url 'inicio'%}" class="papu">Programación para todos</a></div>
    <ul class="nav-list">
      <li><a href="{%url 'foro'%}">Foro</a></li>
      <li><a href="#">Consultas</a></li>
      <li class="user-dropdown">
        <a href="#">{{request.user}}</a>
        <div class="user-dropdown-content">
          <a href="#">Menú</a>
          <a href="#">Configuración</a>
          <a href="{% url 'logout' %}">Cerrar Sesión</a> <!-- Agrega enlace a cerrar sesión -->
        </div>
      </li>
    </ul>
  </nav>

  <div class="content">
    <h1 class="hxd">Bienvenido</h1>
    <br>
    <a href="{% url 'create_post' %}" class="button">crear post</a>
  </div>

  <section class="post-list">
    {% for publicacion in post%}
      <a href="{% url 'post_details' publicacion.id %}" class="post-link">
        <h2>{{ publicacion.title }}</h2>
      </a>
    {% endfor %}
  </section>

</body>
</html>
