{%load static%}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar Sesión</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
  <nav class="navbar">
    <div class="logo">Programación para todos</div>
    <ul class="nav-list">
      <li><a href="/">Iniciar sesión</a></li>
      <li><a href="register/">Registrase</a></li>
    </ul>
  </nav>

  <div class="login-container">
    <h2>Iniciar Sesión</h2>
    
    <form class="user" method="post">
        {% csrf_token %}
      <label for="username">Usuario:</label>
      <input type="text" id="idusername" name="username" required>

      <label for="password">Contraseña:</label>
      <input type="password" id="id_password" name="password" required>
      <p>  </p>
      <br>
      <button type="submit">Ingresar</button>
      
      
    </form>
   
  </div>
</body>
</html>
