{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/datos.css' %}">
  <title>Detalles de la Publicación</title>
</head>
<body>
  <nav class="navbar">
    <div class="logo"><a href="{% url 'inicio' %}" class="papu">Programación para todos</a></div>
    <ul class="nav-list">
      <li><a href="{% url 'foro' %}">Foro</a></li>
      <li><a href="#">Consultas</a></li>
      <li class="user-dropdown">
        <a href="#">{{ request.user }}</a>
        <div class="user-dropdown-content">
          <a href="#">Menú</a>
          <a href="#">Configuración</a>
          <a href="{% url 'logout' %}">Cerrar Sesión</a>
        </div>
      </li>
    </ul>
  </nav>
  <section class="post-details">
    <p>pubblicado por: {{ post.author}} </p>
    <h1>{{ post.title }}</h1>
    <p>{{ post.content | safe }}</p>
    
    <img src="{{ post.image.url }}" alt="" width="200">
    <p>{{ post.created_on|date:"d M Y" }}</p>

    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="action" value="{% if request.user in post.likes.all %}unlike{% else %}like{% endif %}">
        <button type="submit">
            {% if request.user in post.likes.all %}Unlike{% else %}Like{% endif %}
        </button>
    </form>
    <p>Likes: {{ post.likes.count }}</p>
</section>

  <div class="comment-form">
    <h2>Deja un comentario</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.content.label_tag }} {{ form.content }}

      {% if form.content.errors %}
      <p class="error">{{ form.content.errors }}</p>
      {% endif %}
      <button type="submit">Enviar comentario</button>
    </form>
  </div>

  <div class="comments">
    <h2>Comentarios</h2>
    <ul>
      {% for comment in comments %}
        <li>
          <p>Por: {{ comment.user }}</p>
          <p>{{ comment.content }}</p>
          <p>Realizado: {{ comment.created_on|date:"d M Y" }}</p>
        </li>
      {% empty %}
        <p>No hay comentarios aún.</p>
      {% endfor %}
    </ul>
  </div>
</body>
</html>
