{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/busqueda.css' %}">
  <title>Publicaciones con etiqueta {{ tag.name }}</title>
</head>
<body>
  <nav class="navbar">
    <div class="logo"><a href="{% url 'inicio' %}" class="papu">Programación para todos</a></div>
    <ul class="nav-list">
      <li><a href="{% url 'foro' %}">Foro</a></li>
      <li><a href="#">Consultas</a></li>
      <li class="user-dropdown">
        <a href="#">{{ request.user }}</a>
        <div class="user-dropdown-content">
          <a href="#">Menú</a>
          <a href="#">Configuración</a>
          <a href="{% url 'logout' %}">Cerrar Sesión</a>
        </div>
      </li>
    </ul>
  </nav>

  <div class="content">
    <h1 class="hxd">Publicaciones con etiqueta "{{ tag.name }}"</h1>
    <br>
    <a href="{% url 'create_post' %}" class="button">Crear post</a>
  </div>

  {% if posts %}
    <h1>Resultados:</h1>
    <ul>
      {% for post in posts %}
        <li>
          <div class="post-container">
            <a href="{% url 'post_details' post.pk %}">{{ post.title }}</a>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No hay publicaciones con la etiqueta "{{ tag.name }}".</p>
  {% endif %}
</body>
</html>
